.button {
    display: inline-block;
 border-radius: 7px;
 padding: 6px 12px;
 margin: 4px;
 font-size: 16px;
 background-color: hsl(40, 100%, 40%);
 border: solid 2px hsl(40, 100%, 40%);
 font-family: 'Roboto', sans-serif;
 color: white;
 text-decoration: none;
}

.button:hover {
    background-color: hsl(40, 100%, 35%);
    border: solid 2px hsl(40, 100%, 40%);
}

.button:active {
    background-color: hsl(40, 100%, 40%);
    border: solid 2px hsl(40, 100%, 40%);
}

.button:focus {
    outline: none;
}
