.button {
 border-radius: 7px;
 padding: 12px 6px;
 margin: 4px;
 font-weight: 700;
 background-color: hsl(40, 100%, 40%);
 border: hsl(40, 100%, 40%) solid 2px;
 font-family: 'Roboto', sans-serif;
 color: white;
 list-style-type: none;
}